<div class="error" ng-class="{hidden: !general_error}">
   <h3>Error :(</h3>
   <p>
     {{ general_error }}
   </p>
</div>

<div ng-repeat="group in groups" class="group">

    <div class="cloak" ng-class="{hidden: !group.loading}">
        <p><img src="/static/keep-calm.png" alt="Keep Calm and Eat a Cookie"><br>

        <span class="blinking">Loading loading loading...<span class="dots"></span></span>
        </p>
    </div>

    <h4>
        All <a href="https://github.com/{{ group.owner }}/{{ group.repo }}/pulls">open pull requests</a>
        for <a href="https://github.com/{{ group.owner }}/{{ group.repo }}">github.com/{{ group.owner }}/{{ group.repo }}</a>

        <a href=""
           ng-if="groups.length!=1"
           ng-click="removeGroup(group.owner, group.repo)"
           title="Click to remove this project from your page"
           class="closer"
           >&times;</a>
    </h4>

    <p class="no-open-pulls" ng-class="{hidden: group.loading || group.pulls.length}">
      No open pull requests found at the moment.
    </p>

    <table class="table table-condensed table-bordered"
      ng-class="{hidden: group.loading || !group.pulls.length, multiple: groups.length!=1}">
     <thead>
     <tr>
         <th class="title">Title</th>
         <th class="created-at">Created At</th>
         <th class="last-updated">Last updated</th>
         <th ng-if="use_assigned" class="assigned">Assignees</th>
         <th ng-if="use_reviewer" class="reviewer">Reviewers</th>
         <th class="people">People</th>
         <th class="last-actor">Last actor</th>
         <th class="state" title="Indicates whether it's currently mergeable">M*</th>
         <th class="state" title="Indicates its status">S*</th>
         <th class="changes" ng-if="use_changes">Changes</th>
         <th class="labels" ng-if="use_labels">Labels</th>
     </tr>
     </thead>
     <tbody>
       <tr ng-repeat="pull in group.pulls | orderBy:'updated_at':true" class="{{  pull.draft ? 'draft' : '' }}">
             <td>
                 <a href="{{ pull.user.html_url }}"><img ng-src="{{ pull.user.avatar_url }}" class="avatar" alt="{{ pull.user.login }}"></a>
                 <a href="{{ pull.html_url }}" target="_blank">{{ pull.number}}: {{ pull.title }}</a>
                 <span class="draft" ng-if="pull.draft">DRAFT</span>

                 <a href="" ng-click="toggleExpandPull(pull)">
                    <span class="glyphicon glyphicon-plus" ng-if="!pull._expanded"
                           style="font-size:70%"></span>
                    <span class="glyphicon glyphicon-minus" ng-if="pull._expanded"
                          style="font-size:70%"></span>

                 </a>

                 <p ng-class="{hidden: !pull._expanded}" class="diff-stats">
                     <span>Files changed: <a href="{{ pull.html_url }}/files" target="_blank">{{ pull._changed_files  | number:0 }}</a></span>
                     <font color="#55A532">+{{ pull._additions  | number:0 }}</font> /
                     <font color="#BD2C00">-{{ pull._deletions | number:0 }}</font>
                 </p>

                 <table ng-class="{hidden: !pull._expanded}" class="expanded table table-condensed">
                     <tr ng-repeat="event in pull._events | orderBy:'_date':false">
                         <td>
                             <span ng-if="event._type === 'commit'" title="commit added" class="octicon octicon-git-commit"></span>
                             <span ng-if="event._type === 'comment'" title="comment posted" class="octicon octicon-comment"></span>
                             <span ng-if="event._type === 'creation'" title="pull request created" class="octicon octicon-git-pull-request"></span>
                             <span ng-if="event._type === 'status-success'" class="octicon octicon-check"></span>
                             <span ng-if="event._type === 'status-failure'" class="octicon octicon-x"></span>
                             <span ng-if="event._type === 'status-pending'" class="octicon octicon-hourglass"></span>
                             <a href="{{ event._url }}">
                                 {{ event._summary }}
                             </a>
                         </td>
                         <td><time am-time-ago="event._date"></time></td>
                     </tr>
                 </table>
             </td>
             <td><time am-time-ago="pull.created_at"></time>
             <td><time am-time-ago="pull.updated_at"></time>
             </td>
             <td ng-if="use_assigned">
                 <a ng-repeat="user in pull.assignees"
                    href="{{ user.html_url }}"
                    target="_blank"
                    title="{{ user.login }}"><img ng-src="{{ user.avatar_url }}" class="avatar" alt="{{ user.login }}"></a>
             </td>
             <td ng-if="use_reviewer">
                 <a ng-repeat="user in pull.requested_reviewers"
                    href="{{ user.html_url }}"
                    target="_blank"
                    title="{{ user.login }}"><img ng-src="{{ user.avatar_url }}" class="avatar" alt="{{ user.login }}"></a>
             </td>
             <td>
                 <a ng-repeat="user in uniqueUsers(pull)"
                    href="{{ user.html_url }}"
                    target="_blank"
                    title="{{ user.login }}"><img class="avatar" ng-src="{{ user.avatar_url}}" alt="{{ user.login }}"></a>
            </td>
            <td>
                    <a href="{{ pull._last_actor.user.html_url }}"><img ng-src="{{ pull._last_actor.user.avatar_url }}" class="avatar" alt="{{ pull._last_actor.user.avatar_url }}"></a>
                    <a href="{{ pull._last_actor.url }}" target="_blank">
                        <span ng-if="pull._last_actor.type === 'commit'" title="commit added" class="octicon octicon-git-commit"></span>
                        <span ng-if="pull._last_actor.type === 'comment'" title="comment posted" class="octicon octicon-comment"></span>
                        <span ng-if="pull._last_actor.type === 'creation'" title="pull request created" class="octicon octicon-git-pull-request"></span>
                    </a>

            </td>
            <td>
                 <span ng-if="hasMergeability(pull)">
                     <span ng-if="pull._mergeable_state=='unknown'" title="Merge status unknown, refresh soon" class="maybe octicon octicon-question"></span>
                     <span ng-if="pull._mergeable_state!='unknown' && pull._is_mergeable" title="Can be merged" class="good octicon octicon-check"></span>
                     <span ng-if="pull._mergeable_state!='unknown' && !pull._is_mergeable" title="We can’t automatically merge this pull request." class="bad octicon octicon-x"></span>
                 </span>
                 <!-- <span ng-if="!hasMergeability(pull)"  title="Don't know if it's mergeable yet"></span> -->
            </td>
            <td>

                 <a ng-if="hasStatuses(pull)" href="{{ lastStatus(pull).target_url }}">
                     <span ng-if="isLastStatus(pull, 'success')" title="Last test succeeded" class="good octicon octicon-check"></span>
                     <span ng-if="isLastStatus(pull, 'failure')" title="Last test failed!" class="bad octicon octicon-x"></span>
                     <span ng-if="isLastStatus(pull, 'pending')" title="Latest test pending" class="maybe octicon octicon-hourglass"></span>
                 </a>
                 <!-- <span ng-if="!hasStatuses(pull)" class="maybe octicon octicon-question" title="Don't know statuses yet"></span> -->

            </td>
            <td ng-if="use_changes" class="changes">
                <a href="{{ pull.html_url }}/files" target="_blank">
                  <span class="octicon octicon-diff"> </span>
                  {{ pull._changed_files | number:0 }}
                </a>
                <font color="#55A532">+{{ pull._additions  | number:0 }}</font> /
                <font color="#BD2C00">-{{ pull._deletions | number:0 }}</font>
            </td>
            <td ng-if="use_labels" class="labels">
                <strong ng-repeat="label in pull._labels | orderBy:'name':false" style="background-color: #{{ label.color }}">
                    {{ label.name }}
                </strong>
            </td>
        </tr>
     </tbody>
    </table>
    <p class="table-foot-note" ng-class="{hidden: !group.pulls.length}">
      <b>M*</b> means <b>Mergeable</b> and <b>S*</b> means <b>Status</b>
    </p>
</div>
<p>
    <a href="" ng-click="show_add_form=true">Add another project to this page</a>
    &bull;
    <a href="/">Pick a different project</a>
    &bull;
    <a href="/settings" title="Like which columns to show" ng-click="rememberWhereFrom()">Change settings</a>

</p>

<form role="form" ng-class="{hidden: !show_add_form}" ng-submit="submitForm()">
  <div class="form-group">
    <label for="new_owner">Owner</label>
    <input type="text" name="new_owner" class="form-control" id="new_owner" placeholder="e.g. mozilla" ng-model="new_owner">
  </div>
  <div class="form-group">
    <label for="new_repos">Repos</label>
    <input type="text" name="new_repos" class="form-control" id="new_repos" placeholder="e.g. socorro, servo" ng-model="new_repos">
  </div>
  <div>
    <button class="btn btn-primary">Add. It!</button>
  </div>
</form>
